*{
    font-family: montserrat;
    padding: 0;
    margin: 0;
}
header {
    font-size: 40px;
    text-align: center;
    color:white;

}
.container {
    display: flex;
    flex-wrap: wrap;
}
body {
    background-color: grey ;
}
.button {
    width: 100px;
    height: 30px;
    border-radius: 7px;
    margin: 3% 3%;
    font-weight: bolder;
    font-size: large;
}
:hover button{
    cursor: pointer;
}
#button1 {
    font-weight: bolder;
    font-size: large;
    color: black;
}
:hover#button1 {
    background-color: black;
    color: white;
    transform:scale(1.3);
    animation:scale 20s;
    transition: 2s;
    animation-iteration-count: infinite;
}
#button2 {
    border-radius: 0px;
    border: 1px solid pink;
    color:lightcoral;
    box-shadow: lightcoral 100px;

}
#button2:hover{
    animation:border 4s;

}
@keyframes border{
    20% {
        border-radius: 10px;
        border-top:5px outset black;
        transform: scale(1.3);
        transition: 2s;
        background-color: blue;
    }
    40% {
        border-right:5px outset black;
        border-radius: 10px;
        transform: scale(1.3);
        transition: 2s;
        background-color: red;
    }
    60% {
        border-radius: 10px;
        border-bottom:5px outset black;
        transform: scale(1.3);
        transition: 2s;
        background-color: green;
    }
    100%
    {
        border-radius: 10px;
        border-left:5px outset black;
        transform: scale(1.3);
        transition: 2s;
        background-color: yellow;
    }
}